.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
}

.back-btn {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}

.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}

.slide img {
    width: 65px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 12px;
    border: 4px solid #212EA0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1.0;
    font-size: 15px;
}
/* Existing media queries */
@media (max-width: 800px) {
    .testimonials {
        padding: 0 40px;
    }

    .next-btn, .back-btn {
        padding: 15px;
        width: 50px;
    }

    .slider ul li {
        width: 100%; /* Each slide should take full width */
        padding: 10px;
    }

    .slide {
        padding: 20px;
        width: 100%; /* Make slides 100% wide */
    }

    .slide img {
        width: 50px;
        border: 3px solid #212EA0;
    }
}

@media (max-width: 600px) {
    .user-info {
        font-size: 12px;
        display: block;
        margin-bottom: 10px;
    }

    .user-info h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .slider p {
        font-size: 12px;
    }

   
    .slider ul {
        display: flex;
        width: 400%;
        transition: transform 0.5s ease-in-out;
    }

    .slider ul li {
        width: 100%;
        padding: 10px;
    }

    .next-btn, .back-btn {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}
